<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>Filtro: {{filtroLista }}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button class="btn btn-outline-primary" (click)="alternarImagem()">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"> </i>
          {{mostrarImagem ? 'Ocultar Imagem' : 'Mostrar Imagem'}}
        </button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qt Pessoas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let e of eventosFiltrados">
      <td><img *ngIf="mostrarImagem" src="http://localhost:5000/img/{{e.imagemUrl}}" alt=""
          [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem">
      </td>
      <td>{{e.id}}</td>
      <td>{{e.tema}}</td>
      <td>{{e.local}}</td>
      <td>{{e.dataEvento | DateTimeFormatePipe }}</td>
      <td>{{e.qtPessoas}}</td>
      <td>
        <div *ngIf="!e.lotes.length">
          Não informado
        </div>
        <div *ngIf="e.lotes.length">
          {{e.lotes[0].nome }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-primary" tooltip="Editar"
          (click)="openModal(template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="4" class="center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title fa-pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    this is a modal
  </div>
</ng-template>

<form [formGroup]="registerForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Tema</label>
      <input  type="text"  class="form-control" formControlName="tema" placeholder="">
      <!-- <div *ngIf="registerForm.get('tema').hasError('required') 
          && registerForm.get('tema').touched" class="invalid-feedback">
        The Theme is required
      </div>
      <div *ngIf="registerForm.get('tema').hasError('minLength')
          && registerForm.get('tema').touched" class="invalid-feedback">
        the theme must be have Min 4 char
      </div>
      <div *ngIf="registerForm.get('tema').hasError('maxLength')
          && registerForm.get('tema').touched" class="invalid-feedback">
        The Theme must be has 50 chars
      </div> -->
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Local</label>
      <input  type="text" class="form-control "  formControlName="local" placeholder="" >
      <!-- <div class="invalid-feedback">
        The address is required
      </div> -->
    </div>
    <div class="form-group col-md-4">
      <label>Data e Hora</label>
      <input  type="text" class="form-control " formControlName="dataEvento" bsDatepicker placeholder="">
      <!-- <div class="invalid-feedback">
        The date is required
      </div> -->
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Qtd Pessoas</label>
      <input  type="text" class="form-control " formControlName="qtPessoas" placeholder="">
      <!-- <div class="invalid-feedback">
        The Quantity people is required
      </div> -->
    </div>
    <div class="form-group col-md-9">
      <label>Imagem</label>
      <input  type="text" class="form-control " formControlName="imagemUrl" placeholder="">
      <!-- <div class="invalid-feedback">
        The Image is required
      </div> -->
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Telefone</label>
      <input  type="text" class="form-control " formControlName="telefone" placeholder="">
      <!-- <div class="invalid-feedback">
        The phone is required
      </div> -->
    </div>
    <div class="form-group col-md-4">
      <label>Email</label>
      <input  type="text" class="form-control " formControlName="email" placeholder="">
      <!-- <div class="invalid-feedback">
        The Email is required
      </div> -->
    </div>
  </div> 
</form>
<br>
<button class="btn btn-secondary" (click)="openModal(template)">
  Fechar
</button>
<button class="btn btn-primary"  (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br>
<br>

<p>Form Value: {{registerForm.value | json}}</p>
<p> Form Status: {{registerForm.status | json}}</p>